@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    padding: 0%;
    margin: 0%;
    color: aliceblue;
    
}

body{
   /* background: linear-gradient(to right, #ad5389, #3c1053);*/    
}




header{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    font-family: 'Kanit', sans-serif;
}

.title{
    text-align: center;
    color: rgb(14, 184, 42);
    padding-bottom: 2%;
    font-family: 'Kanit', sans-serif;
}

#text{
    font-size: 1.2em;
}

img{
    max-height: 60%;
}
 

.example-divider::-webkit-scrollbar {
    width: 8px;   
    height: 8px;   
    display: none;  
}


#particle-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    background-size: cover;
    background-image: url();
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: .85;

}